@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'FangZheng';
    src: url(../fonts/FZXBSJW.TTF); 
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0 auto;
    padding:0px;
    font-family:Microsoft YaHei,"微软雅黑",Arial,Helvetica,sans-serif;
}

.head{
    margin: 20px auto;
    max-width: 1000px;
    border: #f66767 5px solid;
    min-height: 150px;
}

#head-image{
    display: inline;
    width: 100px;
    margin-top: -20px;
    margin-left: -20px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.middle{
    text-align: center;
    align-items: center;
    margin: auto;
}

.headfont{
    font-family: 'FangZheng';
    margin-top: 30px;
}

.box{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    background-color: #f9d5bb;
}

ul{
    list-style-type:none;
    margin:0 0 0 0;
    text-align: center;
    font-family: 'FangZheng';
    background-color: #3c3d47;
}

li
{
    display: inline;
    margin: 0 70px 0 0;
}

#content-word{
    width: 1000px;
    font-size: 15px;
    margin: 20px;
    line-height: 35px;
    color: #3c3d47;
}

#content-word2{
    width: 800px;
    font-size: 15px;
    margin: 20px;
    line-height: 35px;
    color: #3c3d47;
}

.two{
    /*display: flex;*/
    margin: 20px auto;
    max-width: 1000px;
    border: #eeeeee 5px solid;
    min-height: 300px;
    background-color: #f9d5bb;
}

.two3{
    background-color: #f39562d7;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: 1000px;
    min-height: 460px;
}

button{
    border: none;
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
    color: #ffeee4;
    font-family: 'FangZheng';
}


.href{
    text-align: center;
    color: #3c3d47;
    margin-top: 10px;
    font-size: medium;
}