@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'FangZheng'; /* 告诉浏览器我们现在有一种叫 FangZheng 的字体需要使用 */
    src: url(../fonts/FZXBSJW.TTF); /* 告诉浏览器这个字体从哪里找到 */
    font-weight: normal; /* 告诉浏览器这字体的字重，比如是普通还是粗体 */
    font-style: normal; /* 告诉浏览器这字体的形式，比如正常还是斜体还是下划线 */
}
*{
    margin:0 auto;
    padding:0px;
    font-family:Microsoft YaHei,"微软雅黑",Arial,Helvetica,sans-serif;
}

.middle{
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'FangZheng';
}

.ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    margin:auto;
    text-align: center;
    font-family: 'FangZheng';
    background-color: #3c3d47;
    height: 40px;
}

.li
{
    display: inline;
    margin: 0 50px 0 0;
}

.box{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #f9d5bb;
}

.href{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.qa{
    padding-top: 10px;
    max-width: 1000px;
    /*background: #eeeeee;*/
    /*border: 1px solid red;*/
}

.qa p{
    /*width: 500px;*/
    min-height: 70px;
}



.left{
    display: flex;
    flex-direction: column;
    flex: auto;
    margin:auto;
}

.right{
    float: right;
}

.href{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.choice{
    margin-left: 50px;
}

.two{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    background-color: #ddd;
}

.two1{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    background-color: #ddd;
}

.two2{
    display: flex;
    flex-direction: row-reverse;
    margin:auto;
    max-width: 1000px;
    background-color: #ddd;
}

.two3{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    background-color: #ddd;
}

.three{
    display: flex;
    margin: 20px auto;
    max-width: 1000px;
    border: #eeeeee 5px solid;
}

.three2{
    /*display: flex;*/
    margin: 20px auto;
    max-width: 1000px;
    border: #eeeeee 5px solid;
}

.demo_line_05{
    font-size: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #ddd;
}
.demo_line_05 span{
    letter-spacing: 0;
    color: #222;
    margin:0 20px;
}


.block{
    display: inline;
}

.image2{
    max-width: 300px;
}

.aa{
    background-color: #3c3d47;
    color: #ffeee4;
    font-size: 15px;
    line-height: 40px;
}

p{
    margin:20px;
}